<!doctype html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="مبادرة العطاء لدعم النظارات الطبية لكبار السن من عائلة أبوكويك المحترمين">

  <title>مبادرة العطاء لدعم النظارات الطبية | عائلة أبوكويك</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

  {% block content %}{% endblock %}

  <footer>
    <p>مبادرة العطاء لدعم النظارات الطبية</p>
    <p>لكبار السن من عائلة أبوكويك المحترمين</p>
  </footer>

</body>
</html>
